nav{
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.--navbar-img-container{
    display:flex;
    align-items: center;
    height:70px;
    margin:0 30px;
}

.--navbar-logo{
    max-width: 100px;
}